# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\jungh\Desktop\Study\mooc-java\TMCProjects\mooc-java-programming-i\part01-Part01_15.DifferentTypesOfInput\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
