# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Study\mooc-java\TMCProjects\mooc-java-programming-ii\part09-Part09_06.InterfaceInABox\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
